@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.aboutTitle {
  font-size: calc(0.75vw + 0.75vh);
  position: absolute;
  font-style: normal;
  width: 65%;
  font-family: "Arial Narrow"
}

.aboutText {
  font-size: calc(0.65vw + 0.65vh);
  margin-top: 18vh;
  width: 65%;
  font-style: normal;
  position: relative;
  line-height: 3.5vh;
  letter-spacing: 0.05em;
  font-family: "Arial"
}

.text-wrapper {
  text-align: left;
  justify-content: center;
  display: flex;
  margin-top: 4vh;
  color: rgb(183, 183, 183);
}

.bottom-headline-wrapper {
  position: relative;
  z-index: -1; 
}


.bottom-headline-wrapper {
  display: block;
  position: relative;
  z-index: -1; 
}

.bottom-headline {
  text-align: center;
  padding: 40px 0px;
  background-color: #080808;
}

.info-card {
  color: rgb(200, 200, 200);
  margin-left: 3vw;
  margin-top: 2vh;
  display: inline-block;
  position: fixed;
  font-size: calc(0.6vw + 0.6vh);
}

.info-card::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: rgb(121, 29, 187);
    border-radius: 50%;
    position: absolute;
    margin-left: -32px;
    margin-top: 0.35vh;
}

.info-card-description {
  margin-left: 9.5vw;
  margin-top: 2.45vh;
  position: fixed;
  display: inline-block;
  color:#919191;
  font-size: calc(0.45vw + 0.45vh);
}


/* Styling for the whole HTML and body */
html, body {
  margin: 0;
  color: #c9c9c9;
  font-family: 'Arial', sans-serif;
}

body.fade-in {
  opacity: 1;
  transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
}

html {
  background-color:#121212;
}

body {
  opacity: 0;
}

.fade-word {
  opacity: 0;
  transition: opacity 1s ease;
  font-size: calc(0.87vw + 0.87vh);
}

.show {
  opacity: 1;
}

.image-text-right {
  position: absolute;
  text-align: left;
  line-height: 3.5vh;
  color: rgb(209, 209, 209);
  font-size: calc(0.75vw + 0.75vh);
  letter-spacing: 0.01em;
  white-space: normal;
  word-wrap: break-word;
}

.info-container {
  display: inline-block;
  position: relative;
  left: 3.1%;
  top: 19vh;
  margin-right: 12vw;
  font-size: calc(0.5vw + 0.5vh);
}

.info-title {
  color: rgb(200, 200, 200);
  font-size: larger;
}

.info-text {
  color: #919191;
  margin-top: 0.75vh;
  font-size: calc(0.45vw + 0.45vh);
}

.copyright-text {
  color: #919191;
  font-size: calc(0.45vw + 0.45vh);
}

.project-select a {
  text-decoration: none;
  color: inherit;
}

.project-select {
  color:rgb(241, 241, 241);
  position: relative;
  align-content: center;
  font-family: "Arial Narrow";
  text-align: center;
  margin-top: -4vh;
  width: fit-content;
  padding: 0 24px;
  height: 5vh;
  background-color: rgb(43, 43, 43);
  border-radius: 4px;
  transition: 0.2s;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
  letter-spacing: 0.025em;
  animation: idleAnimation 3s infinite;
}

.project-select:hover {
  background-color: rgb(231, 200, 0);
  scale: 1.1;
  color: black;
}

.project-select:active {
  background-color: rgb(121, 29, 187);
  scale: 0.95;
  color:black;
}

/* Define keyframe animations */
@keyframes idleAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.075);
  }

  100% {
    transform: scale(1);
  }
}

.video-wrapper {
  opacity: 0.05;
  position: absolute;
  display: block;
  z-index: -1000;
}