@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.aboutTitle {
  text-align: left;
  margin-top: 25vh;
  font-size: calc(0.6vw + 0.6vh);
  margin-left: 45vw;
  position: absolute;
}

.info-card {
  color: rgb(200, 200, 200);
  margin-left: 48px;
  margin-top: 3.5vh;
  display: inline-block;
  font-size: calc(0.65vw + 0.65vh);
}

.info-card::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: rgb(121, 29, 187);
    border-radius: 50%;
    position: absolute;
    margin-left: -26px;
    margin-top: 0.35vh;
}

.info-card-description {
  margin-left: 0.75vw;
  display: inline-block;
  color:#919191;
  font-size: calc(0.5vw + 0.5vh);
}

/* For bottom information links on about page */
.horizontal-line {
  border: none;
  height: 10%;
  position: absolute;
  background-color: #1f1f1f;
  width: 100%;
  top: -2vh;
  z-index: -1;
}
/* For bottom information links on about page */
.horizontal-line-thin {
  border: none;
  height: 1px;
  position: absolute;
  background-color: #474747;
  width: 100%;
  top: 8%;
}

/* Styling for the whole HTML and body */
html, body {
  margin: 0;
  color: #c9c9c9;
  font-family: 'Roboto', sans-serif;
}

body.fade-in {
  opacity: 1;
  transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
}

html {
  background-color:#121212;
}

body {
  opacity: 0;
  overflow: hidden;
}

img {
  width: calc(18.6vw + 18.6vh);
  box-shadow: -12px 12px 12px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  margin-left: 17vw;
  margin-top: 22vh;
}

.text-wrapper {
  margin-left: 2vw;
  margin-top: -11vh;
}

.fade-word {
  opacity: 0;
  transition: opacity 1s ease;
  font-size: calc(0.87vw + 0.87vh);
}

.show {
  opacity: 1;
}

.image-text-right {
  position: absolute;
  text-align: left;
  color: rgb(188, 188, 188);
  font-size: calc(0.7vw + 0.7vh);
  letter-spacing: 0.01em;
  width: 36vw;
  white-space: normal;
  word-wrap: break-word;
}

.info-container {
  display: inline-block;
  position: relative;
  left: 3.1%;
  top: 16vh;
  margin-right: 12vw;
  font-size: calc(0.5vw + 0.5vh);
}

.info-title {
  color: rgb(200, 200, 200);
  font-size: larger;
}

.info-text {
  color: #919191;
  margin-top: 0.75vh;
  font-size: calc(0.45vw + 0.45vh);
}

.copyright-text {
  color: #919191;
  margin-left: 85%;
  position: absolute;
  bottom: 7%;
  font-size: calc(0.45vw + 0.45vh);
}

.project-select a {
  text-decoration: none;
  color: inherit;
}

.project-select {
  font-size: calc(0.6vw + 0.6vh);
  color:rgb(179, 179, 179);
  position: absolute;
  align-content: center;
  text-align: center;
  top: 65%;
  left: 47%;
  width: 9vw;
  height: 6vh;
  background-color: rgb(43, 43, 43);
  border-radius: 24px;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.025em;
  animation: idleAnimation 3s infinite;
}

.project-select:hover {
  background-color: rgb(231, 200, 0);
  scale: 1.1;
  color: black;
}

.project-select:active {
  background-color: rgb(121, 29, 187);
  scale: 0.9;
  color:black;
}

/* Define keyframe animations */
@keyframes idleAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.075);
  }

  100% {
    transform: scale(1);
  }
}

.video-wrapper {
  opacity: 0.05;
  position: absolute;
  display: block;
  z-index: -1000;
}