.chat-text-wrapper {
  position: absolute;
  display: inline-block;
  left: 15%;
  top: 35%;
  max-width: 30%;
  font-family: "Arial";
  letter-spacing: 0.05em;
}

.chat-text {
  color:white;
  font-size: calc(1.3vw + 1.3vh);
  font-weight: bold;
}

.chat-subtext {
  color: rgb(195, 195, 195);
  margin-top: 5%;
  font-size: calc(0.65vw + 0.65vh);
}

.form iframe{
  left: 50%;
}

.gmail-image img {
  margin-top: -9%;
  margin-left: 90%;
  width: 10%;
  height: 10%;
  display: flex;
  justify-content: center;
  object-fit: contain;
  box-shadow: none;
  padding: 8px;
}

.message-box-wrapper {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 15%;
    padding: 32px;
    border-radius: 8px;
    box-shadow: -16px 16px 32px rgba(0, 0, 0, 0.33);
    background-color: rgb(38, 38, 38);
    width: 35%;
    height: 62%;
}

.message-box-wrapper textarea {
  width: 90%;
  height: inherit;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: calc(0.6vw + 0.6vh);
  color:rgb(222, 222, 222);
  margin-top: 0.6%;
  align-items: center;
}

.message-box-wrapper textarea::placeholder {
  color: rgb(150, 150, 150);
  opacity: 1;
  outline: none;
}

.message-box-title {
  color: white;
  font-size: calc(0.9vw + 0.9vh);
  outline: none;
}

.message-box {
  color: rgb(150, 150, 150);
  background-color: rgb(61, 61, 61);
  border-radius: calc(0.5vw + 0.5vh);
  margin-top: 3.3vh;
  text-align: left;
  width: 75%;
  height: 3.5vh;
  padding: calc(0.325vw + 0.325vh);
  align-content: center;
  outline: auto;
  outline-color: rgba(151, 151, 151, 0);
  outline-style: solid;
  transition: 0.3s;
}

/* Base styles for overlay text */
.overlay-text {
  position: relative;
  font-size: calc(1vw + 1vh);
  justify-content: center;
  display: flex;
  margin-top: 20%;
  font-style: italic;
  font-weight: bold;
  opacity: 0; /* Set opacity to visible */
  z-index: 150;
  transition: transform 0.4s; /* Include transform in the transition */
  transform: scale(1); /* Start scaled down to match image */
}

.message-box:hover {
  outline-color: rgb(140, 140, 140);
  outline-style: solid;
}

.message-box-description {
  color: rgb(150, 150, 150);
  background-color: rgb(61, 61, 61);
  border-radius: 16px;
  margin-top: 5%;
  text-align: left;
  width: 90%;
  height: 16vh;
  padding: 10px;
  outline: none;
  outline-color: rgba(140, 140, 140, 0);
  outline-style: solid;
  transition: 0.3s;
}

.info-card-container {
  position: absolute;
  top: 71%;
  left: 1%;
}

.message-box-description:hover {
  outline-color: rgb(140, 140, 140);
  outline-style: solid;
}

.send-button {
  color: rgb(212, 212, 212);
  background-color: rgb(97, 39, 197);
  margin-top: 5%;
  width: 10vw;
  height: 6vh;
  border-radius: 16px;
  font-size: calc(0.6vw + 0.6vh);
  box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.404);
  transition: 0.2s;
  padding: 8px 10%;
  cursor: pointer;
  display: inline-flex;
  justify-content: right;
  align-items: center;
  border: none;
}

.send-button img {
  width: calc(1.325vw + 1.325vh);
  height: calc(1.325vw + 1.325vh);
  box-shadow: none;
  margin-top: 0%;
}

.send-button:hover {
  background-color: rgb(231, 200, 0);
  scale: 1.1;
  color: black;
}

.send-button:active {
  background-color: rgb(121, 29, 187);
  scale: 0.9;
  color: black;
}
