/* Description and title of selected game */
.game-text-container {
    position: fixed;
    margin-top: 5vh;
    margin-left: 6vw;
    width: 100%;
    max-width: 33%;
    font-size: calc(0.4vw + 0.4vh + .5vmin);
}

.game-container {
    opacity: 0;
    transition: 0.3s;
}

p {
    width: 35vw;
    white-space: normal;
    word-wrap: break-word;
    letter-spacing: 0.05em;
}

h1 {
    margin-top: 3vh;
    letter-spacing: 0.075em;
    margin-bottom: 4vh;
}

h1::after {
    content: '';
    position: fixed;
    left: 6vw; /* Extend the line to the left */
    height: .25vh;
    top: 12.25vh;
    width: 30%;
    background-image: linear-gradient(to right, rgb(79, 79, 79), rgba(53, 23, 186, 0));
}

/* For the display images of the selected game (slideshow images) */
.slideshow-container {
    position: fixed;
    left: 46vw;
    overflow: visible;
}

.slide img {
    margin-top: -3vh;
    width: 53vw;
    height: 60vh;
    object-fit: cover;
    display: block;
    mask-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 0.5) 20%, 
        black 50%, 
        rgba(0, 0, 0, 0.5) 80%, 
        rgba(0, 0, 0, 0) 100%
    );
}

.logo img {
    position: fixed;
    width: 25%;
    top: 5vh;
    left: 59vw;
    mask-image:none;
    border-radius: 24px;
}

.player-button {
    position: fixed;
    left: 33%;
    top: 42%;
    width: 8vw;
    font-size: calc(0.5vw + 0.5vh + .5vmin);
    height: 6.5vh;
    color:rgb(159, 159, 159);
    border-radius: 8px;
    background-color: rgb(51, 51, 51);
    transition: 0.25s;
    transform: scale(1);
    cursor: pointer;
    display: flex;        /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center;  /* Center vertically */
    text-align: center; 
    border: none;
}

.player-button i {
    margin-left: 0.35vw; /* Space between text and icon */
    font-size: calc(0.7vw + 0.7vh); /* Slightly larger icon than text */
}

.player-button:hover {
    background-color: rgb(255, 210, 11);
    color:black;
    transition: 0.25s;
    transform: scale(1.1);
}

.player-button:active {
    background-color: rgb(79, 17, 141);
    color:black;
    transition: 0.25s;
    transform: scale(0.9);
}

.titleWord {
  position:relative;
  font-size: 1.25em; 
  text-shadow: 0px 3px 4px #0000002a;
  letter-spacing: 0.125em;
  margin-left: 2.1%;
  top: -1%;
}

.slide-icon {
    position: relative;
    width: calc(2.5vh + 2.5vw);
    height: calc(2.5vh + 2.5vw);
    border-radius: 16px;
}

/* Link to the game page or more information */
.game-text-link {
    margin-top: 4vh;
    color:rgb(129, 129, 129);
    text-decoration: none;
}

.titleWord {
    position:relative;
    font-size: calc(0.7vw + 0.7vh);
    text-shadow: 0px 3px 4px #0000002a;
    letter-spacing: 0.1em;
    margin-left: 1vw;
    top: -1vh;
}

/* Genre of the game */
.game-text-role {
    text-decoration: none;
    font-style: italic;
    color:rgb(147, 147, 147);
    margin-top: -2vh;
    margin-bottom: 2vh;
}

.horizontal-line {
    position: fixed;
    top: 15%; /* Aligns with the content vertically */
    left: 7%; /* Positioning the line correctly between the text and image */
    height: 3px; /* Adjust based on your design needs */
    width: 480px; /* Line thickness */
    background-color: rgba(192, 192, 192, 0.683);
    margin-top: 2px;
}

/* Vertical line separator */
.vertical-line {
    position: fixed;
    border-radius: 24px;
    top: 5%; /* Aligns with the content vertically */
    left: 45%; /* Positioning the line correctly between the text and image */
    height: 45%; /* Adjust based on your design needs */
    width: 6px; /* Line thickness */
    background-image: linear-gradient(to top, rgb(20, 20, 20), rgb(41, 41, 41));
}

.nav {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.left-nav {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.right-nav {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.nav:hover {
    background-color: rgba(0,0,0,0.8);
}
