@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

html {
  height: 100%;
}

body {
  background-color: #2f2d34;
  font-family: 'Inter'; /* Apply the font */
  font-size: 18px; /* Set the base font size */
  text-align: center;
  width: 100%;
  opacity: 0;
  color: #e5e1e1;
}

body.fade-in {
  opacity: 1;
  transition: opacity .75s ease-in-out;
}

.navigation button {
  display: inline-block;
  margin: 0 5px;
}

.section {
  display: none; /* Initially hide all sections */
}

.section.active {
  display: block; /* Only show the active section */
}


.margin-offset {
  margin-top: 150px; /* Pushes the element down from the top */
  margin-left: 50px; /* Pushes the element to the right from the left */
}

.margin-offset {
  margin-top: 150px; /* Pushes the element down from the top */
  margin-left: 50px; /* Pushes the element to the right from the left */
}

.yellow-text {
  color: rgb(255, 212, 11);
}

h1 {
  font-size: 2em; /* 2 times the size of the base font size */
}

p {
  font-size: 1em; /* Keep paragraph text at the base font size */
  line-height: 1.6; /* Set the line height */
}

/* You can also set font-weight, font-style, text-transform, and more */
strong {
  font-weight: bold; /* Make strong tags bold */
}

#navbar {
  /* Removed background color for transparent background */
  background-color: #00000049;
  position: fixed; /* Fixed position */
  top: 24px; /* Stick it to the top */
  width: 100%; /* Full width */
  text-align: center; /* Center navbar content */
  transition: top 0.3s; /* Transition for the slide effect */
  z-index: 100; /* Ensure it stays on top of other content */
  border-radius: 24px; /* Rounded corners */
  
}

#navbar a {
  display: inline-block; /* Changed from block to inline-block for centering */
  margin: 0 10px; /* Add some space between buttons */
  color: #cdcdcdb0; /* Text color */
  padding: 14px 12px; /* Padding inside the buttons */
  text-decoration: none; /* No underline on links */
  border-radius: 24px; /* Rounded corners */
  transition: background-color 0.2s, color 0.2s, transform 0.3s ease; /* Smooth transition for hover effect */
}

#navbar a:hover, #navbar a:active {
  background-color: rgb(255, 212, 11);
  color: black; /* Text color on hover and click */
  transform: scale(1.1); /* Enlarges the button */
}
