/* Initial state of the navbar before any animation */
#navbar {
  background-color: #00000049;
  position: fixed;
  top: 24px; /* Start off-screen */
  width: 100%;
  text-align: center;
  z-index: 100;
  border-radius: 24px;
  opacity: 1; /* Start fully transparent */
  transition: top 0.7s ease, opacity 0.3s ease; /* Transition for scrolling */
}

/* Animation that runs when the page loads */
@keyframes slideDown {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 24px;
    opacity: 1;
  }
}

#navbar.fade-in {
  animation: fadeInSlideDown 0.7s ease forwards;
}

#navbar a {
  display: inline-block; /* Changed from block to inline-block for centering */
  margin: 0 10px; /* Add some space between buttons */
  color: #cdcdcdb0; /* Text color */
  padding: 14px 12px; /* Padding inside the buttons */
  text-decoration: none; /* No underline on links */
  border-radius: 24px; /* Rounded corners */
  transition: background-color 0.2s, color 0.2s, transform 0.3s ease; /* Smooth transition for hover effect */
}

#navbar a:hover, #navbar a:active {
  background-color: rgb(255, 210, 11);
  color: black; /* Text color on hover and click */
  transform: scale(1.2); /* Enlarges the button */
}

#navbar a.nav-link {
  position: relative; /* Establishes a positioning context for pseudo-elements */
}

/* Show the images on each navbar button on hover */
#navbar a.projects::after {
  content: '';
  background-image: url('Images/Steam.png');
}

#navbar a.socials::after {
  content: '';
  background-image: url('Images/Youtube.png');
}

#navbar a.github::after {
  content: '';
  background-image: url('Images/Github.png');
}

#navbar a.creative::after {
  content: '';
  background-image: url('Images/Blender.png');
}

/* Common styles for all ::after elements */
#navbar a.nav-link::after {
  display: block;
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 120%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s; /* This will be overridden by animation on hover */
  pointer-events: none;
  z-index: 101; /* Above other content */
}

/* When hovering */
#navbar a.nav-link:hover::after, #navbar a.nav-link:focus::after {
  opacity: 1;
  transform: translateX(-50%) translateY(0) scale(1);
}

/* Reset the image to its default state when not hovering */
#navbar a.nav-link::after {
  transform: translateX(-50%) translateY(0) scale(0); /* Shrink down and move down */
  opacity: 0;
}
