.nav-button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.3s ease; /* Animation for hover effect */
  }
  
  #left-nav {
    left: 10%;
  }
  
  #left-nav img {
    transition: opacity 0.3s ease;
  }
  
  #right-nav {
    right: 10%;
  }
  
  #right-nav img {
    transition: opacity 0.3s ease;
  }
  
  /* Hover effect */
  .nav-button:hover img {
    opacity: 0.7; /* Change the opacity */
  }
  
  .nav-button:hover {
    transform: translateY(-50%) scale(1.2); /* Enlarges the button */
  }
  