.aboutTitle {
  text-align: left;
  margin-top: 25vh;
  font-size: calc(0.6vw + 0.6vh);
  margin-left: 45vw;
  position: absolute;
}

.info-card {
  color: rgb(200, 200, 200);
  margin-left: 48px;
  margin-top: 3.5vh;
  display: inline-block;
  font-size: larger;
}

.info-card::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: rgb(121, 29, 187);
    border-radius: 50%;
    position: absolute;
    margin-left: -26px;
    margin-top: 0.35vh;
}

.info-card-description {
  margin-left: 0.75vw;
  display: inline-block;
  color:#919191;
  font-size: small;
}

/* For bottom information links on about page */
.horizontal-line {
  border: none;
  height: 1.5px;
  position: absolute;
  background-color: #393939;
  width: 94%;
  margin: 18vh 3%
}

/* Styling for the whole HTML and body */
html, body {
  margin: 0;
  color: #c9c9c9;
}

body.fade-in {
  opacity: 1;
  transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
}

html {
  background-image: radial-gradient(circle, rgb(32, 32, 32), rgb(16, 16, 16));
}

body {
  opacity: 0;
}

img {
  width: calc(15.6vw + 15.6vh);
  box-shadow: -12px 12px 12px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  margin-left: 22vw;
  margin-top: 24vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  margin-left: 2vw;
  margin-top: -10vh;
}

.image-text-right {
  position: absolute;
  text-align: left;
  color: rgb(200, 200, 200);
  font-size: calc(0.6vw + 0.6vh);
  letter-spacing: 0.075em;
  width: 36vw;
  white-space: normal;
  word-wrap: break-word;
}

.info-container {
  display: inline-block;
  position: relative;
  left: 3.1%;
  top: 22vh;
  margin-right: 12vw;
  font-size: calc(0.5vw + 0.5vh);
}

.info-title {
  color: rgb(200, 200, 200);
  font-size: larger;
}

.info-text {
  color: #919191;
  margin-top: 0.75vh;
  font-size: calc(0.45vw + 0.45vh);
}

.copyright-text {
  color: #919191;
  margin-left: 82%;
  margin-top: 18vh;
  font-size: calc(0.45vw + 0.45vh);
}

.project-select a {
  text-decoration: none;
  color: inherit;
}
.project-select {
  font-size: calc(0.5vw + 0.5vh);
  color:rgb(179, 179, 179);
  position: absolute;
  align-content: center;
  text-align: center;
  margin-top: -5vh;
  left: 47%;
  width: 8vw;
  height: 5vh;
  background-color: rgb(51, 51, 51);
  border-radius: 24px;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.025em;
}

.project-select:hover {
  background-color: rgb(231, 200, 0);
  scale: 1.1;
  color: black;
}

.project-select:active {
  background-color: rgb(231, 200, 0);
  scale: 0.9;
}