.aboutTitle {
  text-align: left;
  margin-top: 25vh;
  margin-left: 46%;
  position: absolute;
}

.info-card {
  color: rgb(200, 200, 200);
  margin-left: 3.5vw;
  margin-top: 3.5vh;
  display: inline-block;
  font-size: larger;
}

.info-card::before {
    content: '';
    display: inline-block;
    width: 1vw;
    height: 1vw;
    background-color: rgb(121, 29, 187);
    border-radius: 50%;
    position: absolute;
    margin-left: -1.75vw;
    margin-top: 0.25vh;
}

.info-card-description {
  margin-left: 0.75vw;
  display: inline-block;
  color:#919191;
  font-size: small;
}

.aboutTitle h3::after {
  content: '';
  position: absolute;
  left: 0%;
  width: 175%;
  bottom: 1.25vh;
  height: 0.2vh;
  background: linear-gradient(to right, #4f4f4f, #4f4f4f, #79797900);
  border-radius: 2px;
}

/* Styling for the whole HTML and body */
html, body {
  margin: 0;
  color: #c9c9c9;
}

body.fade-in {
  opacity: 1;
  transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
}

html {
  background-image: linear-gradient(to top, rgb(22, 22, 22), rgb(30, 30, 30));
}

body {
  opacity: 0;
}

img {
  width: 150%;
  box-shadow: -12px 12px 12px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  margin-left: 40%;
  margin-top: 0%;
}

.image-left {
  position: absolute;
  justify-content: left;
  top: 20%;
  left: 15%;
}

.image-text-right {
  position: absolute;
  text-align: left;
  left: 31vw;
  top: 25vh;
  color: rgb(200, 200, 200);
  font-size: 16px;
  letter-spacing: 0.075em;
  width: 36vw;
  height: 360px;
  white-space: normal;
  word-wrap: break-word;
}

/* For bottom information links on about page */
.horizontal-line {
  border: none;
  height: 2px;
  position: absolute;
  background-color: #393939;
  width: 94%;
  margin: 38% 3%
}

.info-container {
  display: inline-block;
  position: relative;
  left: 3.1%;
  margin-top: 41%;
  margin-right: 13vw;
}

.info-title {
  color: rgb(200, 200, 200);
  font-size: larger;
}

.info-text {
  font-size: small;
  color: #919191;
  margin-top: 0.75vh;
}

.copyright-text {
  font-size: small;
  color: #919191;
  margin-left: 82%;
  margin-top: -5vh;;
}