.carousel-container {
    position: relative;
    max-width: 100%;
    margin-top: 50px;
    overflow: visible;
    min-height: 300px;
    background-color: transparent; /* Make the default background transparent */
}

.carousel-container::before {
    content: "";
    position: absolute;
    left: 0px;  /* Adjust left to offset horizontally */
    top: -20px;  /* Adjust top to offset vertically */
    width: calc(100%); /* Subtract your left offset from the width */
    height: calc(100% - 40px); /* Subtract your top offset from the height */
    background-color: #171717; /* Your desired background color */
    z-index: -1;
}

.carousel-slide {
    display: flex;
    transition: transform 0.3s ease-in-out;
    justify-content: center; /* Center the images */
}

.carousel-slide img {
    width: 384px;
    height: 216px;
    flex-shrink: 0; /* Prevents images from shrinking */
    transition: transform 0.5s ease, opacity 0.5s ease;
    box-shadow: -12px 12px 8px rgba(0, 0, 0, 0.5);
    transform: scale(0.8); /* Scaled down size */
    opacity: 0.3; /* Lower opacity for far images */
    cursor: pointer;
}

.carousel-slide img.active {
    transform: scale(1); /* Full size for the center image and on hover */
    opacity: 1; /* Full opacity for the center image and on hover */
}

.image-container {
    position: relative;
    width: 384px;
    height: 216px;
    flex-shrink: 0;
}

.carousel-slide img.selected {
    opacity: 0.5;
    transform: scale(1);
}

/* Base styles for overlay text */
.overlay-text {
    position: absolute;
    bottom: 10px; /* Position text at the bottom of the image */
    right: 10px; /* Position text at the right of the image */
    color: rgb(127, 127, 127);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    opacity: 0.5; /* Set opacity to visible */
    z-index: 10;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Include transform in the transition */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transform: scale(0); /* Start scaled down to match image */
}

/* When the image is active, scale up the overlay text */
.carousel-slide img.active + .overlay-text {
    transform: scale(1); /* Scale up the text to match the image */
    opacity: 1; /* Make the text fully visible */
}

.prev, .next {
    position: absolute;
    top: 33%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    cursor: pointer;
}

.prev { left: 3%; }
.next { right: 3%; }