/* Description and title of selected game */
.game-text-container {
    position: fixed;
    margin-top: 5vh;
    margin-left: 6vw;
    width: 100%;
    max-width: 1200px;
    font-size: calc(0.4vw + 0.4vh + .5vmin);
}

.game-container {
    opacity: 0;
    transition: 0.3s;
}

p {
    width: 35vw;
    white-space: normal;
    word-wrap: break-word;
    letter-spacing: 0.05em;
}

h1 {
    margin-top: 3vh;
    letter-spacing: 0.075em;
    margin-bottom: 4vh;
}

h1::after {
    content: '';
    position: fixed;
    left: 6vw; /* Extend the line to the left */
    height: .25vh;
    top: 12.25vh;
    width: 30%;
    background-image: linear-gradient(to right, rgb(79, 79, 79), rgba(53, 23, 186, 0));
}

/* For the display images of the selected game (slideshow images) */
.slideshow-container {
    position: fixed;
    margin-top: 4vh;
    left: 50%;
}

.slide {
    position: relative;
    width: 40vw;
    height: 45vh;
    border-radius: 24px;
    box-shadow: -16px 16px 32px rgba(0, 0, 0, 1);
    object-fit:cover;
}

.slide-icon {
    position: relative;
    width: calc(2.5vh + 2.5vw);
    height: calc(2.5vh + 2.5vw);
    border-radius: 16px;
}

.slide-video {
    position: relative;
    bottom: 5%;
    width: 100%;
    height: 392px;
    border-radius: 24px;
    box-shadow: -16px 16px 16px rgba(0, 0, 0, 1);
    object-fit: contain;
}

/* Link to the game page or more information */
.game-text-link {
    margin-top: 4vh;
    color:rgb(129, 129, 129);
    text-decoration: none;
}

/* Genre of the game */
.game-text-role {
    text-decoration: none;
    font-style: italic;
    color:rgb(147, 147, 147);
    margin-top: -2vh;
    margin-bottom: 2vh;
}

.horizontal-line {
    position: fixed;
    top: 15%; /* Aligns with the content vertically */
    left: 7%; /* Positioning the line correctly between the text and image */
    height: 3px; /* Adjust based on your design needs */
    width: 480px; /* Line thickness */
    background-color: rgba(192, 192, 192, 0.683);
    margin-top: 2px;
}

/* Vertical line separator */
.vertical-line {
    position: fixed;
    border-radius: 24px;
    top: 5%; /* Aligns with the content vertically */
    left: 45%; /* Positioning the line correctly between the text and image */
    height: 45%; /* Adjust based on your design needs */
    width: 6px; /* Line thickness */
    background-image: linear-gradient(to top, rgb(20, 20, 20), rgb(41, 41, 41));
}

.nav {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.left-nav {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.right-nav {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.nav:hover {
    background-color: rgba(0,0,0,0.8);
}
