@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

/* Hamburger Menu Button */
.hamburger-menu {
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 151;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 5vw;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Distributes spacing evenly */
  align-items: center; /* Centers bars horizontally */
  transition: 0.3s; /* Animation for hover effect */
  border-radius: 32px;
  padding: 12px;
  transform: scale(1);
}

.hamburger-menu:hover {
  transition: 0.3s;
  background-color: rgb(255, 210, 11);
  padding-top: 6px;
  padding-bottom: 6px;
  transform: scale(1.1);
}

.hamburger-menu:active {
  transition: 0.15s;
  background-color: rgb(79, 17, 141);
  padding: 12px;
  transform: scale(0.9);
}

.hamburger-menu .bar {
  width: 3vw; /* Adjust width to your preference */
  height: .5vh;
  background-color: #b5b5b5;  /* Color of the hamburger icon */
  border-radius: 24px;
  transition: 0.3s;
}

/* Optional: Add hover effect */
.hamburger-menu:hover .bar {
  transition: 0.3s;
  background-color: #000000;
}
