@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

/* Hamburger Menu Button */
.hamburger-menu {
  position: fixed;
  top: 24px;
  right: 32px;
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; /* Adjust padding as needed */
  width: 50px; /* Width of the button - adjust as needed */
  height: 50px; /* Height of the button - adjust as needed */
  transition: transform 0.3s; /* Animation for hover effect */
  color: gray;
}

/* Hamburger Icon Image */
.hamburger-menu img {
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Makes the image circular */
  background-color: rgb(14, 14, 14);
  transition: filter 0.2s, transform 0.3s, background-color 0.2s; /* Transition for filter and transform */
  box-shadow: none;
}

.hamburger-menu:hover img, .hamburger-menu:focus img {
  filter: none; /* Remove filter on hover/focus to show the original color (white) */
  transform: scale(1.25); /* Slightly enlarge the icon on hover/focus */
  background-color: rgb(105, 105, 105);
}

/* Close Button */
.closebtn {
  position: absolute;
  top: 10px;
  right: 8px;
  width: 50px; /* The actual width of your icon */
  height: 50px; /* The actual height of your icon */
  background-size: contain; /* This ensures that your background image is scaled to fit the content area */
  transform: scale(1.5);
}
