@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

html {
  height: 125%;
}

body {
  background-color: rgb(36,34,36);
  font-family: 'Inter'; /* Apply the font */
  font-size: 16px; /* Set the base font size */
  text-align: center;
  width: 100%;
  opacity: 0;
  color: #e5e1e1;
}

.body {
  margin-top: 175px; /* Pushes the element down from the top */
  margin-left: 50px; /* Pushes the element to the right from the left */
  text-shadow: 0px 3px 4px #0000002a; 
}

.title {
  margin-top: 185px; /* Pushes the element down from the top */
  margin-left: 50px; /* Pushes the element to the right from the left */
  text-shadow: 0px 3px 4px #0000002a; 
  letter-spacing: 0.075em;
}


body.fade-in {
  opacity: 1;
  transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out; /* Apply a smooth transition */
}

.navigation button {
  display: inline-block;
  margin: 0 5px;
}

.section {
  display: none; /* Initially hide all sections */
}

.section.active {
  display: block; /* Only show the active section */
}

.yellow-text {
  color: rgb(255, 212, 11);
}

h1 {
  font-size: 2em; /* 2 times the size of the base font size */
}

p {
  font-size: 1em; /* Keep paragraph text at the base font size */
  line-height: 1.6; /* Set the line height */
}

