@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

/* Unvisited link */
a:link {
  color: rgb(255, 200, 11);
}

/* Visited link */
a:visited {
  color: rgb(255, 200, 11); 
}

/* Hover over link */
a:hover {
  color: rgb(181, 62, 255);
}

/* Selected link */
a:active {
  color: rgb(108, 40, 175);
}

html {
  height: 125%;
}

body {
  background-color: rgb(14, 14, 14);
  font-family: 'Inter'; /* Apply the font */
  font-size: 16px; /* Set the base font size */
  text-align: center;
  width: 100%;
  opacity: 0;
  color: #c9c9c9;
  letter-spacing: 0.075em;
}

.body {
  margin-top: 175px; /* Pushes the element down from the top */
  text-shadow: 0px 3px 4px #0000002a; 
}

.title {
  margin-top: 120px; /* Pushes the element down from the top */
  text-shadow: 0px 3px 4px #0000002a; 
  letter-spacing: 0.15em;
  position: relative; /* Necessary for positioning pseudo-elements */
}

/* Styling for decorative underline */
.title h1 {
  display: inline-block; /* Make h1 an inline-block to fit the underline nicely */
  position: relative; /* Needed for positioning the pseudo-element */
}

.title h1:after {
  content: '';
  position: absolute;
  left: -30px;
  right: -30px;
  bottom: -15px; /* Adjust this value to move the underline up or down */
  height: 3px; /* Thickness of the underline */
  background: linear-gradient(to right, #797979, #797979, #797979); /* A shiny gradient effect */
  border-radius: 2px; /* Optional: adds rounded corners to the underline */
}

body.fade-in {
  opacity: 1;
  transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out; /* Apply a smooth transition */
}

.navigation button {
  display: inline-block;
  margin: 0 5px;
}

.section {
  display: none; /* Initially hide all sections */
}

.section.active {
  display: block; /* Only show the active section */
}

.yellow-text {
  color: rgb(255, 194, 11);
}

h1 {
  font-size: 2em; /* 2 times the size of the base font size */
}

p {
  font-size: 1em; /* Keep paragraph text at the base font size */
  line-height: 1.6; /* Set the line height */
}

.steamTitle {
  display: flex;        /* Enables Flexbox */
  justify-content: center; /* Distributes space between the flex items */
  align-items: center;  /* Vertically centers the items in the line */
  text-shadow: 0px 3px 4px #0000002a;
  letter-spacing: 0.125em;
  position: relative;   /* Necessary for positioning pseudo-elements */
}

.titleWord {
  text-shadow: 0px 3px 4px #0000002a; 
  font-size: 1.5em; 
  margin: 0 20px;
}
