.section {
  display: block;
  position: absolute; /* Position sections on top of each other */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.35s ease-in-out; /* Smooth transition for sliding */
}

.section.fade-in {
  opacity: 1; /* Fade in to full visibility */
  transition: opacity 0.75s ease-in-out; /* Apply a smooth transition */
}