@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

/* Sidebar Menu */
.sidebar {
    height: 100%;
    width: 0; /* Start with width 0 to keep the sidebar hidden */
    position: fixed;
    z-index: 150;
    right: 0; /* Align to the right side of the screen */
    overflow-x: hidden; /* Prevent horizontal scroll */
    opacity: 0;
    transition: 0.3s ease-in-out; /* Smooth transition for opening and closing */
    box-shadow: -16px -16px 64px black;
    background-image: linear-gradient(to right, rgb(0, 0, 0, 0.8) -100%, rgb(8, 8, 8) 100%);
  }

  /* Sidebar Content */
  .sidebar-content {
    position: absolute;
    text-align: center;
    letter-spacing: 0.15em;
    font-size: large;
    top: 29%;
  }

  .sidebar-text a {
    padding: 16px;
    font-size: 1.5vw;
    margin-left: 7vw;
    text-decoration: none;
    border-radius: 24px;
    display: block;
    width:auto;
    color:rgb(170, 170, 170);
    transition: 0.3s;
    overflow: visible;
    transform: scale(1);
  }

  .sidebar-text a:hover {
    transition: 0.3s;
    color: black;
    background-color: rgb(255, 210, 11);
    transform: scale(1.2);
  }

  .sidebar-text a:active {
    transition: 0.15s;
    transform: scale(1);
    background-color: rgb(79, 17, 141);
  }